/* src/styles/homeStyles.css */

.header {
    width: 100%;
    background-color: #eb8b7f; /* Màu xanh cho header */
    padding: 1rem;
    color: white;
    font-size: medium;
    font-weight: 500;
  }
  
  .header nav {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Căn giữa theo chiều dọc */
  }
  
  .header_navbar-item {
    color: white; /* Đảm bảo chữ màu trắng */
  }
  
  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  .table-container {
    width: 80%; /* Chiều rộng bảng */
    margin: 20px auto; /* Đặt ở giữa */
    background-color: white; /* Màu nền trắng */
    border-radius: 8px; /* Bo góc */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng */
  }
  
  .subject-table {
    width: 100%; /* Chiều rộng bảng */
    border-collapse: collapse; /* Gộp các đường viền */
  }
  
  .subject-table th, .subject-table td {
    border: 1px solid #ccc; /* Đường viền cho ô */
    padding: 10px; /* Padding cho ô */
    text-align: left; /* Căn trái nội dung */
  }
  
  .subject-table th {
    background-color: #eb8b7f; /* Màu nền cho header */
    color: white; /* Màu chữ trắng */
  }
  
  .action-button {
    margin-right: 5px; /* Khoảng cách giữa các button */
    background-color: #eb8b7f; /* Màu nền cho button */
    color: white; /* Màu chữ trắng */
    border: none; /* Không có đường viền */
    padding: 5px 10px; /* Padding cho button */
    border-radius: 5px; /* Bo góc cho button */
    cursor: pointer; /* Con trỏ khi hover */
  }
  
  .action-button:hover {
    background-color: #180705; /* Màu nền khi hover */
  }
  