/* src/styles/sidebarStyles.css */
.sidebar {
    width: 200px; /* Chiều rộng của sidebar */
    background-color: #e4baba; /* Màu nền cho sidebar */
    height: 100vh; /* Chiều cao toàn bộ trang */
    padding: 1rem;
    font-weight: bold;
    font-size: 18px;
    margin-top: 3.5rem;
    margin-right: 5rem;
    position: fixed; /* Giữ sidebar cố định */
    display: flex; /* Thiết lập sidebar là flexbox */
    flex-direction: column; /* Xếp theo chiều dọc */
    justify-content: space-between; /* Chia đều không gian giữa các phần tử */
}

.sidebar-list {
    list-style-type: none; /* Loại bỏ dấu đầu dòng */
    padding: 0; /* Bỏ padding cho list */
    margin: 0; /* Bỏ margin cho list */
    flex-grow: 1; /* Đảm bảo list chiếm không gian còn lại */
    display: flex; /* Thiết lập list là flexbox */
    flex-direction: column; /* Xếp theo chiều dọc */
    justify-content: space-around; /* Cách đều các item */
}

.sidebar-item {
    width: 100%; /* Đảm bảo item chiếm toàn bộ chiều rộng */
}



